<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por confiar en nosotros, <%= Client.last.fullname %></h1>
    <p>
      En breves momentos lo estaremos contactando.<br>
    </p>
    <p>
      Si desea cotizar otro tipo de poliza haga click en el siguiente link: <%= @url %>.
    </p>
  </body>
</html>