<div class="row">

  <div class="col-md-12">
      <table>
    		<tr>
    		   <th>Nombre</th>
    		   <th>email</th> 
    		   <th>Telefono</th>
    		 </tr>
      <% @clients.each do |client| %>
    	  <tr>
    	    <td><%= client.fullname %></td>
    	    <td><%= client.email %></td> 
    	    <td><%= client.phone %></td>
    	  </tr>
      <% end %>
      </table>
    </div>
</div>
