<div class="container">
	<div class="row">
		<div class="col-md-3"></div> <!-- empty_column -->
		<div class="col-md-5">
			<h2>Cotizar poliza de auto</h2>
			<br>
			<br>
			<%= render 'helpers/client_form' %>
			<br>
		
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
<br>
<br>