<!-- Large modal buttons -->
<div class="row">
	<p class="aliados"><em>Nuestros aliados...</em></p>
		<div class="col-xs-12 col-sm-12 col-sm-12 marcas">
		<!-- ASSA_MODAL_BUTTON-->
			<div class="col-md-2 col-xs-6 col-sm-4">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".assa_modal">
						<img src="assets/assa.png" class="img-responsive big" alt="Responsive image"/>
				</button>
			</div>
		<!-- GENERALI_MODAL_BUTTON-->
			<div class="col-md-2 col-xs-6 col-sm-4">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".generali_modal"> 
					<img src="assets/generali.png" class="img-responsive big" alt="Responsive image"/>
				</button>	
			</div>
		<!-- IS_MODAL_BUTTON-->
			<div class="col-md-2 col-xs-6 col-sm-4"> 
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".is_modal"> 
					<img src="assets/internacional.png" class="img-responsive big" alt="Responsive image"/>
				</button>	
			</div>
		<!-- SURA_MODAL_BUTTON-->
			<div class="col-md-2 col-xs-6 col-sm-4"> 
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".sura_modal">
					<img src="assets/sura.png" class="img-responsive" alt="Responsive image"/>
				</button>	
			</div>
		<!-- MAPFRE_MODAL_BUTTON-->
			<div class="col-md-2 col-xs-6 col-sm-4"> 
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".mapfre_modal">
					<img src="assets/mapfre.png" class="img-responsive" alt="Responsive image"/>
				</button>	
			</div>

			<div class="col-md-2 col-xs-6 col-sm-4"> 
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".floresta_modal">
					<img src="assets/lafloresta.png" class="img-responsive" alt="Responsive image"/>
				</button>	
			</div>
		</div>
	</div>

	<!-- MODALS-->
<!-- ASSA_MODAL-->
	<div class="modal fade assa_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<h3 class="modal-title">Breve historia de ASSA COMPAÑIA DE SEGUROS</h3><br>
	    	<div class="row">
	    		<div class="col-md-2">
		    		<img src="assets/assa.png" class="" alt="Responsive image"/>
	    		</div>
	    		<div class="col-md-10">	
			      <p>
			      	ASSA Compañía de Seguros, S.A. subsidiaria del Grupo ASSA, dedicada al negocio de seguros Generales, Fianzas, Vida y Salud en la República de Panamá. Esta empresa inició operaciones en 1980, pero las actividades de ASSA como grupo asegurador comenzaron el 1 de noviembre de 1972.
			      </p>
						<p>
			      	Grupo ASSA es un conglomerado panameño la cual se posiciona entre las más importantes, cuya meta es expandirse hacia toda Centro América y consolidarse como un competidor relevante en el segmento de seguros. Actualmente tiene base de operaciones en Costa Rica, Nicaragua y El Salvador. ASSA ofrece servicios de seguros de accidentes personales y todos los productos de seguros de daños para protección de sus asegurados ante siniestros de incendio, vehículos y otros riesgos.
						</p>
	    		</div>
	    	</div>
	    </div>
	  </div>
	</div>

<!-- GENERALI_MODAL-->
	<div class="modal fade generali_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">

	    	<h3 class="modal-title">Breve historia de GENERALI SEGUROS</h3><br>
	      <div class="row">
	      	<div class="col-md-3 generali-modal-logo">
	      		<img src="assets/generali.png" class="img-responsive center-block" alt="Responsive image"/>
	      	</div>
	      	<div class="col-md-9">
	      		<p>
	      			Se fundó en Trieste Italia el 26 de diciembre de 1831 ASSICURAZIONI GENERALI S.p.A., tras casi 180 años de historia cuenta con más de 200 sociedades entre holdings y financieras, sociedades inmobiliarias y agrícolas y más de 100 compañías de seguros operantes en los cinco continentes en más de 50 países. En la actualidad Generali representa la compañía de seguros más grande e importante de Italia. Hasta la fecha su Casa Matriz se encuentra localizada en esta ciudad italiana.
	      		</p>
	      		<p>
	      			En América tiene oficinas que operan como sucursales directas en Nueva York, EE.UU., y en Panamá, Brasil y Argentina. En 1970 Generali abrió su primera oficina en Panamá como sucursal de la Gran Generali (Casa matriz). La compañía cuenta con más de 300 colaboradores. La Oficina principal está en ciudad de Panamá en la prestigiosa Torre Generali.
	      		</p>
	      	</div>
	      </div>

	    </div>
	  </div>
	</div>

<!-- IS_MODAL-->
	<div class="modal fade is_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <h3 class="modal-title">Breve historia de INTERNACIONAL DE SEGUROS</h3><br>
	      <div class="row">
	      	<div class="col-md-3">
	      		<img src="assets/internacional.png" class="img-responsive big" alt="Responsive image"/>
	      	</div>
	      	<div class="col-md-9">
						<p>Internacional de Seguros fue fundada en 1910, por un grupo de respetables y destacados empresarios panameños, que formaron parte del movimiento separatista de Colombia. Esta compañía, con capital netamente panameño se convirtió en la primera compañía de seguros de Centroamérica y Panamá. En el presente año 2015 cumplió 105 años de fundada, siendo esta la aseguradora más importante de la República de Panamá, además forma parte de los acontecimientos más significativos del país a nivel empresarial.</p>
						<p>El desarrollo de las operaciones de la Internacional de Seguros da origen a la Compañía Internacional de Seguros de Vida S.A. y otras inversiones en el extranjero como Security Pacific de Californa, cuya cartera fue comprada por la empresa en 1979.</p>
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>

<!-- SURA_MODAL-->
	<div class="modal fade sura_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <h3 class="modal-title">Breve historia de SEGUROS SURA</h3><br>
	      <div class="row">
	      	<div class="col-md-3">
	      		<img src="assets/sura.png" class="img-responsive center-block" alt="Responsive image"/>
	      	</div>
	      	<div class="col-md-9">
	      		<p>En 1944 se creó la Compañía Suramericana de Seguros S.A., dedicada a la actividad aseguradora en Colombia. Esta empresa que a través de los años creció y con el paso de los años se ha convertido en una sólida y reconocida empresa en el sector seguros de Colombia, generó nuevas líneas de negocios e incorporó a su portafolio de inversiones otras importantes compañías colombianas.</p>
	      		<p>En 1997 Se integra como accionista mayoritario Inversura (hoy Suramericana, Colombia) a Interoceánica de seguros en Panamá para luego consolidar su inversión y cambiar su razón social a Seguros Suramericana en el año 2009.</p>
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>

<!-- MAPFRE_MODAL-->
	<div class="modal fade mapfre_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      ...
	    </div>
	  </div>
	</div>

<!-- SURA_MODAL-->
	<div class="modal fade floresta_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      ...
	    </div>
	  </div>
	</div>