<!-- Large modal buttons -->
<div class="row">
	<p class="aliados"><em>Nuestros aliados...</em></p>
		<div class="col-xs-12 col-sm-12 col-sm-12 marcas">
		<!-- ASSA_MODAL_BUTTON-->
			<div class="col-md-2 col-xs-6 col-sm-4">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".assa_modal">
						<img src="assets/assa.png" class="img-responsive big" alt="Responsive image"/>
				</button>
			</div>
		<!-- GENERALI_MODAL_BUTTON-->
			<div class="col-md-2 col-xs-6 col-sm-4">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".generali_modal"> 
					<img src="assets/generali.png" class="img-responsive big" alt="Responsive image"/>
				</button>	
			</div>
		<!-- IS_MODAL_BUTTON-->
			<div class="col-md-2 col-xs-6 col-sm-4"> 
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".is_modal"> 
					<img src="assets/internacional.png" class="img-responsive big" alt="Responsive image"/>
				</button>	
			</div>
		<!-- SURA_MODAL_BUTTON-->
			<div class="col-md-2 col-xs-6 col-sm-4"> 
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".sura_modal">
					<img src="assets/sura.png" class="img-responsive" alt="Responsive image"/>
				</button>	
			</div>
		<!-- MAPFRE_MODAL_BUTTON-->
			<div class="col-md-2 col-xs-6 col-sm-4"> 
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".mapfre_modal">
					<img src="assets/mapfre.png" class="img-responsive" alt="Responsive image"/>
				</button>	
			</div>

			<div class="col-md-2 col-xs-6 col-sm-4"> 
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".floresta_modal">
					<img src="assets/lafloresta.png" class="img-responsive" alt="Responsive image"/>
				</button>	
			</div>
		</div>
	</div>

	<!-- MODALS-->
<!-- ASSA_MODAL-->
	<div class="modal fade assa_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      ...
	    </div>
	  </div>
	</div>

<!-- GENERALI_MODAL-->
	<div class="modal fade generali_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      ...
	    </div>
	  </div>
	</div>

<!-- IS_MODAL-->
	<div class="modal fade is_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      ...
	    </div>
	  </div>
	</div>

<!-- SURA_MODAL-->
	<div class="modal fade sura_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      ...
	    </div>
	  </div>
	</div>

<!-- MAPFRE_MODAL-->
	<div class="modal fade mapfre_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      ...
	    </div>
	  </div>
	</div>

<!-- SURA_MODAL-->
	<div class="modal fade floresta_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      ...
	    </div>
	  </div>
	</div>