<div class="container">
	<div class="row">
		
		<div class="col-md-2 logo">
			<h1>JW Seguros</h1>
		</div>
		<div class="col-md-8"></div> <!--empty_column -->
		
		<div class="col-md-2">
			<div class="header-top-phone">
				<p>Cotize las 24 horas</p>
				<span class="header-phone">6060-5408</span>
			</div>
		</div>

	</div>
</div>
