<div class="container">
	<div class="row">
		<div class="col-md-2"></div> <!--empty_column -->
		<div class="col-md-8">
			<div class="main_header">
				<div class="col-md-6">
					<div class="logo_div">
						<p class="main_logo"> JW Seguros</p>
					</div>
				</div>
				<div class="col-md-2 header_contact">
					<p class="asistencia">Asistencia las 24 horas</p>
					<p class="phone_number">6060-5408</p>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div> <!--empty_column -->
	</div>
</div>

<style>
.header_contact {
		padding-top: 20px;
		float: left;

	}
.asistencia {
	font-size: 15px;
}
.phone_number{
	font-size: 25px;
	font-weight: bold;
}
</style>