<div class="container">
	<div class="row">
		
		<div class="col-md-2 col-xs-12 logo">
			<a href="/">
				<img src="/assets/jwslogo-sinfondo.png" >
			</a>
		</div>		
		<div class="col-md-2 col-md-offset-8 col-xs-offset-5 col-xs-7">

			<div class="header-top-phone">
				<p>Cotice las 24 horas</p>
				<div class="header-phone">+507 395-7628</div>
				<div class="header-phone">+507 6060-5408</div>
			</div>

		</div>

	</div>
</div>
