.footer {
	border-top: 2px solid #002f5b;
	padding-top: 3px;
	width: 70%;
	height: 2px;
	width:100%;
	height:55px;
	bottom:0;
	left: 57px;
}
.footer, .push {
	height: 55px; /* .push must be the same height as .footer */
}
.anv {
	color: inherit;
}
.navlinks_footer {
	font-size: 9px;
	color: #125094;
	text-transform: uppercase;
}
.navlinks_footer a {
	border-right: 1px solid #002f5b;
	padding-right: 3px; 
}
.creator_tag {
	font-size: 12px;
	text-align: center;
}