.footer {
	border-top: 1px solid black;
	border-left: -10px;
	padding-top: 3px;
	width: 70%;
	height: 2px;
	width:100%;
	height:55px;
	bottom:0;
	left: 57px;
	background-color: #f8f8f8;	
}
.footer, .push {
	height: 55px; /* .push must be the same height as .footer */
}
.anv {
	color: inherit;

}
.navlinks_footer {
	font-size: 10px;
	color: #125094;
	padding-top: 3px;
}
.navlinks_footer a {
	border-right: 1px solid #002f5b;
	padding-right: 3px; 
}
.navlinks_footer a:last-child {
    border-right: none;
}
.creator_tag {
	font-size: 12px;
	text-align: center;
}
div.container.footer {
	width: 976px;
}