div#bs-example-navbar-collapse-1.collapse.navbar-collapse {
	background-color: #002f5b;
	font-style: bold;
	font-size: 20px;
	border-radius: 3px;
	a {
		color: white;
		border-right: 1px dashed white;
	}
	#not-border a{
		border: none;
	}
}