div#bs-example-navbar-collapse-1.collapse.navbar-collapse {
	background-color: #002f5b;
	font-style: bold;
	font-size: 20px;
	border-radius: 3px;
	margin-left: 15px;
  margin-right: 15px;
	a {
		color: white;
	}
	.active_nav a{
		background-color: #f8f8f8;
		color: #002f5b;
		font-style: bold;
	}
	a:hover{
	background-color: #f8f8f8;
	color: #002f5b;
	font-style: bold;
	border-right: 1px solid #002f5b;
	}
	#not-border a{
		border: none;
	}
}
div.navbar-header {
	background-color: #002f5b;
	a:hover {
		background-color: #f8f8f8;
		color: #002f5b;
		font-style: bold;
	}
}
nav.navbar.navbar-default {
	border: 0px solid transparent;
	background: white;
}
.asistencia_button {
	background-color: #002f5b;
	border: 1px solid white;
}
.modal_title {
	font-size: 24px;
	color: #002f5b;
}
.asistencia_table{
	tr td img {
		max-width: 75px;
	}
}
div.modal-content {
	padding-bottom: 0;
	margin-right: 178px;
}


